Django
django-filter
django-dotenv
django-cors-headers
django-extensions
django-crispy-forms
djangorestframework
phonenumbers==8.13.1
django-phonenumber-field==7.0.1
pyotp==2.7.0
eskiz_sms
geopy
django-shortuuidfield==0.1.3
drf-yasg
coreapi
markdown
packaging
smart-getenv