Django
django-filter
django-dotenv
django-cors-headers
django-extensions
django-crispy-forms
djangorestframework
djangorestframework-simplejwt
phonenumbers==8.13.1
django-phonenumber-field==7.0.1
pyotp=2.7.0
eskiz_sms
drf-yasg
coreapi
markdown
packaging
smart-getenv
coverage
ipython
jupyter
black
pep8
autopep8
pylint
pylint-django